.defined-points(title="{{'Excess of points' | translate}}")
.project-points-progress(title="{{'Pending Points' | translate}}", style!="width: <%- projectPointsPercentaje %>%")
.closed-points-progress(title="{{'Closed points' | translate}}", style!="width: <%- closedPointsPercentaje %>%")