.sprint-name
    a.icon.icon-arrow-up(href="", title="Compact Sprint")
    a(ng-if="::isVisible", href="{{::taskboardUrl}}", title="{{'Go to the taskboard of' | translate}} {{::name}}")
        span {{::name}}

    a.icon.icon-edit(ng-if="::isEditable", href="", title="{{'Edit Sprint' | translate}}")

.sprint-summary
    .sprint-date {{::estimatedDateRange}}
    ul
        li
            span.number {{::closedPoints}}
            span.description(translate) closed
        li
            span.number {{::totalPoints}}
            span.description(translate) total
