a.icon.icon-plus(tg-check-permission="add_task",
                 href="", title="{{'Add a new Task' | translate}}",
                 ng-click="ctrl.addNewTask('standard', us)")
a.icon.icon-bulk(tg-check-permission="add_task",
                 href="", title="{{'Add some new Tasks in bulk' | translate}}",
                 ng-click="ctrl.addNewTask('bulk', us)")
