.tags-container
a(href="#", class="add-tag hidden", title="{{'Add tag' | translate}}")
    span.icon.icon-plus
    span.add-tag-text(translate) Add tag

input(type="text", placeholder="{{'I'm it! Tag me...' | translate}}", class="tag-input hidden")
a(href="", title="{{'Save' | translate}}", class="save icon icon-floppy hidden")