a.close(href="", title="close")
    span.icon.icon-delete
div.form
    h2.title
    fieldset
        textarea.reason(placeholder="{{'Please explain the reason' | translate}}")

    a.button-green(href="")
        span(translate) Save
