a.close(href="", title="close")
    span.icon.icon-delete
div.form
    h2.title(translate) Add watchers
    fieldset
        input(type="text", data-maxlength="500", placeholder="{{'Search for users' | translate}}", ng-model="usersSearch")
    div.watchers //- The content of this is rendered by directive
