div.error-main
    div.error-container
        object.logo-svg(type="image/svg+xml", data="/svg/logo.svg")
            img(src="/images/logo.png", alt="TAIGA")
        h1.logo Taiga
        p.error-text(translate) Something happened and our Oompa Loompas are working on it.
        p.error-text(translate) Try reloading again soon.
        a(href="/", title="", translate) Take me home
