div.error-main
    div.error-container
        object.logo-svg(type="image/svg+xml", data="/svg/logo.svg")
            img(src="/images/logo.png", alt="TAIGA")
        h1.logo(translate) Permission denied
        p.error-text(translate) Error 403.
        a(href="/", title="", translate) Take me home
