.tasks
    .task-name
        input(type='text', placeholder="{{'Type the new task subject' | translate}}")
        .task-settings
          a.icon.icon-floppy(href='', title="{{'Save' | translate}}")
          a.icon.icon-delete.cancel-edit(href='', title="{{'Cancel' | translate}}")

.status(tg-related-task-status='newTask', ng-model='newTask', not-auto-save='true')
  a.task-status(href='', title="{{'Status Name' | translate}}")
    span.task-status-bind
    span.icon.icon-arrow-bottom

.assigned-to(tg-related-task-assigned-to-inline-edition='newTask', not-auto-save='true')
  .task-assignedto(title="{{'Assigned to' | translate}}")
    figure.avatar
    span.icon.icon-arrow-bottom
