header
  h1(translate) Links

nav
  ul
    <% _.each(wikiLinks, function(link, index) { %>
    li.wiki-link(data-id!="<%- index %>")
      a(title!="<%- link.title %>")
          span.link-title <%- link.title %>
          <% if (deleteWikiLinkPermission) { %>
          span.icon.icon-delete
          <% } %>
      input(type="text" placeholder="{{'name' | translate}}" class="hidden" value!="<%- link.title %>")
    <% }) %>
    li.new.hidden
      input(type="text" placeholder="{{'name' | translate}}")
<% if (addWikiLinkPermission) { %>
a(href="" title="{{'Add link' | translate}}" class="add-button button-gray")
    span(translate) Add link
<% } %>
