div.wiki-times-edited
    span.number <%- totalEditions %>
    span.description(translate) times <br />edited

div.wiki-last-modified
    span.number <%- lastModifiedDate %>
    span.description(translate) last <br />edit

div.wiki-username-edition
    figure.avatar
        img(src!="<%- user.imgUrl %>" alt!="<%- user.name %>")
    div.wiki-user-modification
        span.description(translate) last modification
        span.username <%- user.name %>
