section.admin-submenu
    header
        h1(translate) Roles

    nav
        ul
            li
                a(href="", translate) UX
                  span.icon.icon-arrow-right
            li
                a(href="", translate) Product Owner
                  span.icon.icon-arrow-right
            li
                a(href="", translate) Designer
                  span.icon.icon-arrow-right
            li
                a(href="", translate) Back
                  span.icon.icon-arrow-right
            li
                a(href="", translate) Front
                  span.icon.icon-arrow-right

        a.button-gray(href="", title="{{'Add New role' | translate}}")
            span.text(translate) + New role
