section.admin-submenu
    header
        h1(translate) Services

    nav
        ul
            li#adminmenu-third-parties-webhooks.third-parties-webhooks
                a(href="", tg-nav="project-admin-third-parties-webhooks:project=project.slug")
                    span.title(translate) Webhooks
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-github
                a(href="", tg-nav="project-admin-third-parties-github:project=project.slug")
                    span.title(translate) Github
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-gitlab
                a(href="", tg-nav="project-admin-third-parties-gitlab:project=project.slug")
                    span.title(translate) Gitlab
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-bitbucket
                a(href="", tg-nav="project-admin-third-parties-bitbucket:project=project.slug")
                    span.title(translate) Bitbucket
                    span.icon.icon-arrow-right
