section.filters
    div.filters-inner
        h1
            span.title(translate) filters

        form
            fieldset
                input(type="text", placeholder="{{'Subject or reference' | translate}}", ng-model="filtersQ")
                a.icon.icon-search(href="", title="{{'search' | translate}}")

        div.filters-step-cat
            div.filters-applied
            h2.hidden.breadcrumb
                a.back(href="", title="back to categories", translate) Filters
                span.icon-arrow-right
                a.subfilter(href="")
                    span.title(translate) status
            div.filters-cats
                ul
                    li
                        a(href="", title="{{'Status' | translate}}", data-type="statuses")
                            span.title(translate) Status
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="{{'Tags' | translate}}", data-type="tags")
                            span.title(translate) Tags
                            span.icon.icon-arrow-right

        div.filter-list.hidden
