// This template is now not used. It is replaced with
// issues-filters.jade and filters-backlog.jade.

section.filters
    div.filters-inner
        h1
            span.title(translate) filters

        form
            fieldset
                input(type="text", placeholder="{{'Subject or reference' | translate}}", ng-model="filtersQ")
                a.icon.icon-search(href="", title="{{'search' | translate}}")
        h2
            a.hidden(href="")
                span.title(translate) status
        div.filters-step-cat
            div.filters-applied
            div.filters-cats
                ul
                    li
                        a(href="", title="{{'Status' | translate}}", data-type="statuses")
                            span.title(translate) Status
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="{{'Severity' | translate}}", data-type="severities")
                            span.title(translate) Severity
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="{{'Priorities' | translate}}", data-type="priorities")
                            span.title(translate) Priorities
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="{{'Tags' | translate}}", data-type="tags")
                            span.title(translate) Tags
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="{{'Assigned to' | translate}}", data-type="assignedTo")
                            span.title(translate) Assigned to
                            span.icon.icon-arrow-right

        div.filter-list.hidden
