a.close(href="", title="{{'close' | translate}}")
    span.icon.icon-delete
section
    h2.title
    div.options
        a.button-green(href="", title="{{'Accept' | translate}}")
            span(translate) Accept
