a.close(href="", title="{{'close' | translate}}")
    span.icon.icon-delete
form
    h2.title
    p.question
    p.subtitle
    p.replacement
    select.choices
    p.warning

    div.options
        a.button-green(href="", title="{{'Accept' | translate}}")
            span(translate) Accept
        a.button-red(href="", title="{{'Delete' | translate}}")
            span(translate) Cancel
