a.close(href="", title="{{'close' | translate}}")
    span.icon.icon-delete
form
    h2.title(translate) Search
    fieldset
        input(type="text", name="text", id="search-text", placeholder="{{'What are you looking for?' | translate}}", data-required="true")
    fieldset
        button.button-green.submit-button(type="submit", title="{{'Search' | translate}}", translate) Search