a.close(href="", title="{{'close' | translate}}")
    span.icon.icon-delete
form
    h2.title(translate) Tell us something...
    fieldset
        textarea(ng-model="feedback.comment", data-required="true",
                 placeholder="{{'...a bug, some suggestions, something cool... or even your worst nightmare with Taiga' | translate}}")
    fieldset
        button.button-green.submit-button(type="submit", title="{{'Send feedback' | translate}}", translate) Send feedback
