section.policy-table
    div.policy-table-header
        div.policy-table-row
            div.policy-table-project
                span(translate) Project
            div.policy-table-all
                span(translate) Receive All
            div.policy-table-involved
                span(translate) Only Involved
            div.policy-table-none
                span(translate) No notifications
    div.policy-table-body(tg-user-notifications-list, ng-model="notifyPolicies")
