.change-entry
    .activity-changed
        span <%- name %>
     .activity-fromto
         p
            strong(translate)  from
            br
            span <%- from %>
         p
            strong(translate)  to
            br
            span <%- to %>
