<% _.each(points, function(point, name) { %>
.change-entry
    .activity-changed
        span(translate, translate-values!="<%- name.toLowerCase() %>") US points ({{name}})
    .activity-fromto
        p
            strong(translate) from
            br
            span <%- point[0] %>
        p
            strong(translate)  to
            br
            span <%- point[1] %>
<% }); %>