.change-entry
    .activity-changed
        span <%- name %>
     .activity-fromto
         <% if (removed.length > 0) { %>
         p
            strong(translate) removed
            br
            span <%- removed %>
         <% } %>

         <% if (added.length > 0) { %>
         p
            strong(translate) added
            br
            span <%- added %>
         <% } %>
