section.project-csv(ng-controller='#{controller} as ctrl', tg-select-input-text)
    div.project-values-title
        h2(translate) #{csvType} reports
        a.button.button-gray(title="{{'Download #{csvType} CSV' | translate}}", ng-href="{{csvUrl}}", ng-show="csvUrl", target="_blank")
            span(translate) Download CSV

    div.csv-regenerate-field
        .field-with-options
            input(type="text", placeholder="{{'Please regenerate CSV url' | translate}}", readonly, ng-model="csvUrl")
            .option-wrapper.select-input-content
                .icon.icon-copy
        a(href="", title="{{'Regenerate CSV url' | translate}}", ng-click="ctrl.regenerateUuid()")
           span.icon.icon-plus(ng-hide="csvUrl")
           span(ng-hide="csvUrl", translate) Generate URL
           span.icon.icon-reload(ng-Show="csvUrl")
           span(ng-Show="csvUrl", translate) Regenerate
